{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<div class="container-fluid bg-blue-200">
    <h1>Hello {{ controller_name }}! ✅</h1>
    <div class="flex">
        <div class="bg-red-500 text-yellow-600">
            <p>HELLO</p>
        </div>
    </div>
    This friendly message is coming from test HOT MESSAGE :
    <ul>
        <li>Your controller at <code>/app/src/Controller/HomeController.php</code></li>
        <li>Your template at <code>/app/templates/home/index.html.twig</code></li>
    </ul>
</div>
{% endblock %}
